.about-card {
    border-radius: var(--radius-sm) !important;
    gap: 0.25rem !important;
    cursor: default !important;
    margin-bottom: 0.25rem;
}

.about-card:hover {
    background: var(--bg-card) !important;
}